<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405848644264-om7i0er8h25pmlmuer63p9thmmgns1rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405848644264-om7i0er8h25pmlmuer63p9thmmgns1rt</string>
	<key>API_KEY</key>
	<string>AIzaSyAOyZwQmoDemTyybcD2oVvbvvzZpahhcmk</string>
	<key>GCM_SENDER_ID</key>
	<string>405848644264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wweUniverse</string>
	<key>PROJECT_ID</key>
	<string>universe-c9714</string>
	<key>STORAGE_BUCKET</key>
	<string>universe-c9714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405848644264:ios:1e46a576a161766530009d</string>
</dict>
</plist>